@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
}
.text-color{
    color:#0D1321;
}
/* banner style  */
.banner-container{
   max-width :1440px; ;
    max-height: 655px;
    background-image: url("./assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 0 auto;
    
}
.banner-content{
 
    max-width: 998px;
    max-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    
    gap:10px;
}
.banner-content img{
    max-width:170px ;
    max-height:225px ;
}
.banner-content h1{
    max-width: 500px;
    max-height: 130px;
    text-align: center;
    letter-spacing: 2px;
   
    font-weight: bold;
}
.banner-content p{
 max-width: 850px;
 max-height: 50px;
 text-align: center;
 color: #0D1321;
 font-size: 16px;
 font-weight: 400;
 line-height: 26px;

}
.banner-content button{
    max-width: 244px;
    max-height: 64px;
    padding: 21px 24px 21px 24px;
    background-color: #0D1321;
    color:white;
    border-radius: 8px;
}

/* web development style ----------- */

.web-development{
    max-width: 1140px; ;
    max-height:1450px ;
    background: rgb(233, 233, 233);
    margin: 150px auto;
    border-radius: 5px;
    border:2px solid gray ;
    border-radius: 2px;
    

}
.web-development-container{
    max-width:946px ;
    max-height:1260px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
   background-color: white;
    /* border: 2px solid red;; */
}
.web-development-title{
    max-width:850px ;
    max-height:112px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.web-development-title h1{
    font-size: 32px;
    line-height: 37px;
    color: rgb(13, 19, 33);
}
.web-development-title p{
width: 852px;
height: 52px;
color:#0D1321;
font-size: 16px;
line-height: 26px;
}
.development-card{
    display: flex;
    flex-direction: row;
    max-width:946px ;
    max-height:336px ;
    margin-top: 20px;
   box-shadow: 10px;
   background-color: whitesmoke;
    
}
.development-title{
    max-width: 477px;
    height: 219px;
   
    
   
}
.development-title h3{
    width: 370px;
    height: 72px;
    font-size: 20px;
   
}
.development-title p{
width: 468px;
height: 52px;
line-height: 20px;
color: rgb(13, 19, 33);
}
.development-title button{
    width: 170px;
    height: 47px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.development-image1{
    width:246px;
    height: 217px;
}
.development-image1 img{
    width:220px;
    height: 200px;
}
.development-image2,.development-image3{
    width: 240px;
    height: 240px;
}